.slide {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
.pagina {
    width: 100px;
    height: 100px;
    margin: 10px;
    border-radius: 10px;  
    transition: width 0.5s;
    background-image: linear-gradient(to right, rgb(31, 214, 31), rgb(135, 42, 138))
}
.pagina:hover {
    width: 300px;
}